@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Noto Sans Mono", monospace;
  padding: 20px;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.square {
  border: 1px solid white;
  background-color: black;
  flex-shrink: 0;
}

.grid-size button {
  padding: 10px 20px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  font-family: inherit;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.grid-size button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
