*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.square {
  border: 1px solid white;
  background-color: black;
  flex-shrink: 0;
}

.square:hover {
  background-color: aqua;
}
